{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Login - Jurnal Perkuliahan
{% endblock title %}

<!-- {% block styles %}
     {{super()}}
     <link rel="stylesheet" href="{{url_for('static', filename='auth.css')}}">
{% endblock styles %} -->

{% block flash_msg %}
    {% include '_flash-msg.html' %}
{% endblock flash_msg %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <hr>
    <p>New user?
        <a href="{{ url_for('auth.register') }}">Click here to register</a>
    </p>
    <p>
        Forgot Your Password?
        <a href="{{ url_for('auth.resetpassword_req') }}">Click to reset it</a>
    </p>
</div>
{% endblock page_content %}