{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Reset Password Request - Jurnal Perkuliahan
{% endblock title %}

<!-- {% block styles %}
     {{super()}}
     <link rel="stylesheet" href="{{url_for('static', filename='auth.css')}}">
{% endblock styles %} -->

{% block flash_msg %}
    {% include '_flash-msg.html' %}
{% endblock flash_msg %}

{% block page_content %}
<div class="page-header">
    <h1>Reset Password Request</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock page_content %}