{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Edit Journal - Jurnal Perkuliahan
{% endblock title %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}

<!-- {% block styles %}
     {{super()}}
     <link rel="stylesheet" href="{{url_for('static', filename='auth.css')}}">
{% endblock styles %} -->

{% block flash_msg %}
    {% include '_flash-msg.html' %}
{% endblock flash_msg %}

{% block page_content %}
    <div class="page-header">
        <h1>Edit Journal</h1>
    </div>
    <div class="col-md-7">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.title) }}
            {{ wtf.form_field(form.course_list) }}
            {{ form.body(cols=73, rows=10) }}
            <br>
            <hr>
            <div>
                <div class="col-md-6">
                    {{ wtf.form_field(form.submit, button_map={'submit':'primary'}) }}
                </div>
                <div class="col-md-6">
                    <a class="btn btn-danger" role="button" style="float: right; position: relative; right: 5%"
                    href="{{ url_for('journal.remove', id=journal.id) }}">Remove journal</a>
                </div>
            </div>
            
        </form>
    </div>
    <div class="col-md-5">
        <div>
            {% include '_md-cheat.html' %}
            <hr>
        </div>
    </div>
{% endblock page_content %}