
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
        <div id="{{category}}" class="alert alert-{{ category if category != 'message' else 'warning' }} \
         alert-dismissible collapse in" style="width: 60%">
            <a href="#{{category}}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{ category.title() }}!</strong> - {{ message }} <br>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}



<!-- 
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %} -->